
<div class="row">
  <div class="col-md-6">
    <div class="box fill_darker"><h1>my money</h1>The best money app in the world</div>
  </div>
  <div class="col-md-3"><%= link_to raw("<div class='box fill_lighter'>
    <h4>Accounts</h4>
    <ul>
      <li>View account summaries</li>
      <li>Add new accounts</li>
    </ul>
   </div>"), accounts_path %></div>
  <div class="col-md-3"><%= link_to raw("
    <div class='box fill_normal'>
    
    <h4>Very</h4>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Cool</h4>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pattern</h4>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Matcher</h4>
  </div>"), patterns_path %></div>
</div>
<div class="row">
  <div class="col-md-4"><%= link_to raw("<div class='box fill_lighter'>
    <h4>Transaction History</h4>
    <ul>
      <li>View transactions for each account</li>
      <li>Add and edit transactions</li>
      <li>And lots more... </li>
    </ul>
 </div>"), transactions_path %></div>

  <div class="col-md-4"><%= link_to raw("<div class='box fill_normal'>
    Do some stuff with <h2>Categories</h2>
  </div>"), categories_path %></div>

  <div class="col-md-4"><%= link_to raw("<div class='box fill_darker'>
    Reports, reports and more <h2>...Reports!</h2>
  </div>"), report_index_path %></div>

</div>


<div class="row">
  <div class="col-md-5"><%= link_to raw("<div class='box fill_normal'>
      import transactions from <h2>OFX</h2> files
 </div>"), import_transactions_file_chooser_path %></div>
  <div class="col-md-4"><div class="box fill_darker">
  </div></div>
  <div class="col-md-3"><div class="box fill_lighter">
  </div></div>
</div>
