<h1>new reconciliation</h1>

<div class="panel panel-default">
  <div class="panel-heading">   
    <h4>Reconciliation Details</h4>
  </div>

  <div class="container">

    <div class="field">
      <label for="account_id"> Account:</label>
      {{selectInput accounts account}}
    </div>

    <div class="field">
      <label for="statement_date"> Statement Date:</label>
      {{datePickerInput "" "statement_date"}}
    </div>

    <div class="field">
      <label for="statement_balance"> Statement Balance:</label>
      {{moneyInput "0" "statement_balance"}}
    </div>

  </div>

  <div class="actions panel-footer">
    {{actionButton text="Start" id="reconcile"}}
    {{cancelButton}}
  </div>

</div> <!-- panel -->
