<td>{{dateFormatter date}}</td>
<td>{{descriptionFormatter memo notes}}</td>
<td class="money">{{moneyIn amount}}</td>
<td class="money">{{moneyOut amount}}</td>
<td class="centred">{{checkBox id reconciled}}</td>