<div class="panel panel-default">
  <div class="panel-heading">   
    <h4>Reconciliation Details</h4>
  </div>

  <div class="container">

    <div class="field">
      <label for="account_id"> Account:</label>
      {{account.name}}
    </div>

    <div class="field">
      <label for="statement_date"> Statement Date:</label>
      {{datePickerInput reconciliation.statement_date "statement_date"}}
    </div>

    <div class="field">
      <label for="statement_balance"> Statement Balance:</label>
      {{moneyInput reconciliation.statement_balance "statement_balance"}}
    </div>

  <div class="actions panel-footer">
    {{actionButton text="Start" id="reconcile"}}
    {{cancelButton}}
  </div>

</div> <!-- panel -->
