<td><a href="/transactions?account_id={{id}} ">{{name}}</a></td>
<td>{{bank}}</td>
<td class="money">{{accountingFormat current_balance }}</td>
<td class="links"><a href="#/{{id}}/edit" id="edit"><span class="glyphicon glyphicon-edit"/></td>