<div class="panel-heading">
  <h4>Account Setup</h4>
</div>    

<div class="container">
  <strong>Account Name:</strong> {{name}}<br><br>
  <strong>Bank:</strong> {{bank}}<br><br>
  <strong>Opening Balance:</strong> {{starting_balance}}<br><br>
  <strong>Opening Date:</strong> {{dateFormatter starting_date}}<br><br>
</div>

<div class="actions panel-footer">
  {{editButton}}
</div>
