<div class="panel-heading">   
  <h4>Edit Account {{deleteButton}}</h4>
</div>

<div class="container">
  <div class="field">
    <label for="name"> Account Name:</label>
    <input type="text" name="name" id="name" value="{{name}}" >
  </div>

  <div class="field">
    <label for="bank"> Bank:</label>
    <input type="text" name="bank" id="bank" value="{{bank}}" >
  </div>

  <div class="field">
    <label for="starting_balance"> Opening Balance:</label>
    <input type="text" name="starting_balance" id="starting_balance" value="{{starting_balance}}" >
  </div>

  <div class="field">
    <label for="starting_date"> Opening Date:</label>
    {{datePickerInput starting_date "starting_date"}}
  </div>
</div>

<div class="actions panel-footer">
  {{saveButton}}
  {{cancelButton}}
</div>
