<td>{{dateFormatter transaction.date}}</td>
<td>{{transaction.memo}}</td>
<td>{{textInput transaction.notes "notes"}}</td>
<td>
  {{selectGroupedInput categoryTypes 'category_type_id' categories transaction.category_id "category_id"}}
</td>
<td>
  {{selectInput subcategories transaction.subcategory_id "subcategory_id"}}
</td>
<td class="money">{{accountingFormat transaction.amount}}</td>
<td class="centred" name="reconciled">{{checkBox transaction.cid transaction.import}}</td>