<h1>Import Transactions</h1>

<%= form_for @account, url: { controller: "transactions", action: "import" }, method: :post do |a|%>

<div class="panel panel-default">

  <div class="panel-heading">  
  	<h4> Account: <strong><%= a.hidden_field(:id) %>
  	<%= @account.name + " (" + @account.bank + ")" %> </strong></h4>
  </div>
<table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Subcategory</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
    	<% if transaction.duplicate then %>
    		<tr class="danger">
    	<% else %>
      		<tr>
      	<% end %>
      <%= fields_for transaction do |t| %>
        <td><%= t.check_box :import, name: "import_transactions[][import]" %></td>
        <td><%= t.text_field :date, name: "import_transactions[][date]", size: "10" %></td>
        <td><%= t.text_field :memo, name: "import_transactions[][memo]", size: "50" %></td>
        <td><%= t.text_field :amount, name: "import_transactions[][amount]", size: "10" %></td>
        <td><%= t.collection_select :category_id, @categories, :id, :name, {prompt: "Please select"}, {name: "import_transactions[][category_id]", class: "category_select"} %></td>
        <% if transaction.category.nil? %>
          <td><%= t.collection_select :subcategory_id, [], :id, :name, {}, {name: "import_transactions[][subcategory_id]", class: "subcategory_select"} %></td>
        <% else %>
          <td><%= t.collection_select :subcategory_id, transaction.category.subcategories, :id, :name, {prompt: "Please select"}, {name: "import_transactions[][subcategory_id]", class: "subcategory_select"} %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="panel-footer">
  	<button type="submit" class="btn btn-default">Import</button>
  	<%= link_to "Cancel", accounts_path, class: "btn btn-default" %>
  </div>

</div>
<% end %>

