<div class="panel panel-default">

  <div class="panel-heading">   
    <h4><%= yield(:title) %>
      <% if yield(:title).include?("Edit") %>
        <%= link_to 'Delete', @transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
      <% end %>
    </h4>
  </div>
  
<%= form_for(@reconciliation) do |f| %>

    <div class="container">

  <% if @reconciliation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reconciliation.errors.count, "error") %> prohibited this reconciliation from being saved:</h2>

      <ul>
      <% @reconciliation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.collection_select(:account_id, @accounts, :id, :name, {:prompt => true, :selected => ( @reconciliation.account.nil? ? "" : @reconciliation.account_id.to_i ), :class => 'account_select'}) %>
  </div>
  <div class="field">
    <%= f.label :statement_date %><br>
    <%= f.date_select :statement_date %>
  </div>
  <div class="field">
    <%= f.label :statement_balance %><br>
    <%= f.text_field :statement_balance %>
  </div>
  <div class="field">
    <%= f.label :last_reconciled_date %><br>
    <%= f.text_field :last_reconciled_date %>
  </div>
  <div class="field">
    <%= f.label :last_reconciled_balance %><br>
    <%= f.text_field :last_reconciled_balance %>
  </div>


    </div> <!-- end container -->

    <div class="panel-footer">
      <button type="submit" class="btn btn-default">Start</button>
      <%= link_to "Cancel", reconciliations_path, class: "btn btn-default" %>
    </div>

  <% end %> <!-- end form -->

</div> <!-- end panel -->
