<h1>bank reconciliations <%= link_to content_tag(:span, "New", class: "glyphicon glyphicon-plus"), new_reconciliation_path, class: "btn btn-default" %></h1>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h4>reconciliation history</h4>
      </div>    

      <table class="table">
        <thead>
          <tr>
            <th>Account</th>
            <th class="centred">Statement Date</th>
            <th class="money">Statement Balance</th>
            <th class="centred">Finished</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @reconciliations.each do |reconciliation| %>
            <tr>
              <td><%= reconciliation.account.name %></td>
              <td class="centred"><%= reconciliation.statement_date %></td>
              <td class="money"><%= number_to_currency(reconciliation.statement_balance) %></td>
              <td class="centred"><%= content_tag(:span, "", class: "glyphicon glyphicon-ok") if reconciliation.reconciled %></td>
              <td class="links"><%= link_to content_tag(:span, "", class: "glyphicon glyphicon-edit"), reconciliation %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- panel -->
  </div> <!-- col -->

  <div class="col-md-4">
    <div class="box fill_normal">
        <h4>reconciliation history</h4>
    </div> <!-- panel -->
  </div> <!-- col -->

</div> <!-- row -->