<div class="panel panel-default">

  <div class="panel-heading">  	
  	<h4><%= yield(:title) %>
  		<% if yield(:title).include?("Edit") %>
  			<%= link_to 'Delete', @pattern, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
  		<% end %>
  	</h4>
  </div>
  
<%= form_for(@pattern) do |f| %>

    <div class="container">

  <% if @pattern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pattern.errors.count, "error") %> prohibited this pattern from being saved:</h2>

      <ul>
      <% @pattern.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.collection_select(:account_id, @accounts, :id, :name, {:prompt => true, :selected => @pattern.account_id.to_i}) %>
  </div>
  <div class="field">
    <%= f.label :match_text %><br>
    <%= f.text_field :match_text %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, @categories, :id, :name, @category_options) %>
  </div>
  <div class="field">
    <%= f.label :subcategory_id %><br>
    <%= f.collection_select(:subcategory_id, @subcategories, :id, :name, @subcategory_options) %>
  </div>

    </div> <!-- end container -->

    <div class="panel-footer">
  	  <button type="submit" class="btn btn-default">Save</button>
  	  <%= link_to "Cancel", patterns_path, class: "btn btn-default" %>
    </div>

  <% end %> <!-- end form -->

</div> <!-- end panel -->
