<h1>Patterns <%= link_to content_tag(:span, "New", class: "glyphicon glyphicon-plus"), new_pattern_path, class: "btn btn-default" %></h1>
  <div class="panel panel-info">
  
    <div class="panel-heading">
	  <%= form_tag('/patterns', method: :get) do %>

        <h4 class="panel-title"><label for="account">Patterns for:</label>
        <%= collection_select(@account, :id, @accounts, :id, :name, {:prompt => true, :selected => @account.id.to_i}, {:name => "account_id"}) %>

        <button type="submit" class="btn btn-default">Refresh</button></h4>
        
      <% end %>
    </div>

<table class="table">
  <thead>
    <tr>
      <th>Account</th>
      <th>Match Text</th>
      <th>Category</th>
      <th>Sub-category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patterns.each do |pattern| %>
      <tr>
        <td><%= pattern.account_id %></td>
        <td><%= pattern.match_text %></td>
        <td><%= pattern.category.name %></td>
        <td><%= pattern.subcategory.nil? ? "" : pattern.subcategory.name %></td>
        <td><%= link_to 'Show', pattern %></td>
        <td><%= link_to 'Edit', edit_pattern_path(pattern) %></td>
        <td><%= link_to 'Destroy', pattern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div> <!-- end panel-->
