<h1>Patterns <%= link_to content_tag(:span, "New", class: "glyphicon glyphicon-plus"), new_pattern_path(account_id: @account), class: "btn btn-default" %></h1>
<p id="notice"><%= notice %></p>

  <div class="panel panel-default">
  
    <div class="panel-heading">
	  <%= form_tag('/patterns', method: :get) do %>

        <h4 class="panel-title"><label for="account">Patterns for:</label>
        <%= collection_select @account, :id, @accounts, :id, :name, {prompt: "Please select", :selected => (@account.nil? ? "" : @account.id.to_i)}, {name: "account_id" } %>

        <button type="submit" class="btn btn-default">Refresh</button></h4>
        
      <% end %>
    </div>

<table class="table">
  <thead>
    <tr>
      <th>Account</th>
      <th>Match Text</th>
      <th>Notes</th>
      <th>Category</th>
      <th>Sub-category</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @patterns.each do |pattern| %>
      <tr>
        <td><%= pattern.account.name %></td>
        <td><%= pattern.match_text %></td>
        <td><%= pattern.notes %></td>
        <td><%= pattern.category.name %></td>
        <td><%= pattern.subcategory.nil? ? "" : pattern.subcategory.name %></td>
        <td class="links"><%= link_to content_tag(:span, "", class: "glyphicon glyphicon-edit"), edit_pattern_path(pattern) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div> <!-- end panel-->
