<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @pattern.account_id %>
</p>

<p>
  <strong>Match text:</strong>
  <%= @pattern.match_text %>
</p>

<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<%= link_to 'Back', patterns_path %>
