<h1>Category Report</h1>

<%= form_tag("/report/category", method: :get) do %>
  <div class="search box fill_normal">
    <%= label_tag("category_id", "Category: ") %>
    <%= grouped_collection_select(@category, @category_id, CategoryType.all, :categories, :name, :id, :name, {:prompt => true, :selected => @category_id.to_i, :include_blank => "Un-assigned"}, {:id => "category_id", :name => "category_id"}) %>
  </div>
  <%= render 'layouts/date_select' %>
<% end %>

<div class="panel panel-default">
  <!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#graph" role="tab" data-toggle="tab">Graph</a></li>
  <li><a href="#data" role="tab" data-toggle="tab">Data</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane active" id="graph">
    <div id="category_bar_chart" class="text-center"></div>
    <script>

      var data = <%= raw @report_data %>;
      bar_chart(data, "#category_bar_chart");

    </script>  

  </div>

  <div class="tab-pane" id="data">

    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Date</th>
        <th>Memo</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th class="money">Amount</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.date %></td>
          <td><%= transaction.memo %></td>
          <td><%= transaction.category.nil? ? "" : transaction.category.name %></td>
          <td><%= transaction.subcategory.nil? ? "": transaction.subcategory.name %></td>
          <td class="money"><%= number_to_currency(transaction.amount) %></td>
          <td><%= link_to 'Edit', edit_transaction_path(transaction) %> 
          <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
          <tr class="totals"><td colspan='4'><strong>Total</strong></td><td class="money"><%= number_to_currency(@transaction_total) %></td></tr>
    </tbody>
    </table>
  </div>
</div>


</div>

