<h1>Category Report</h1>

<%= form_tag("/report/category", method: :get) do %>
  <div class="search box fill_normal">
    <%= label_tag("category_id", "Category: ") %>
    <%= grouped_collection_select(@category, @category_id, CategoryType.all, :categories, :name, :id, :name, {:prompt => true, :selected => @category_id.to_i, :include_blank => "Un-assigned"}, {:id => "category_id", :name => "category_id"}) %>
  </div>
  <%= render 'layouts/date_select' %>
<% end %>
<%= render 'report_data' %>