<h1>Income vs Expenses</h1>

<div class="panel panel-warning">
  <div class="panel-heading">
	<%= form_tag("/report/income_vs_expense", method: :get) do %>
      <%= label_tag("from_date") %>
	  <%= date_field_tag("from_date", @from_date) %>&nbsp;&nbsp;
      <%= label_tag("to_date") %>
	  <%= date_field_tag("to_date", @to_date) %>
	
	  <button type="submit" class="btn btn-default pull-right">Refresh</button>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  
    <div class="panel panel-success">

      <div class="panel-heading">  	
  	    <h4>Income</h4>
      </div>
  
  <!-- Table -->
	  <table class="table">
  		<tbody>
  		  <% @income_categories.each do |c| %>
  		    <% if @category_totals.has_key?(c.name) %>
  		      <tr><td colspan='2'><strong><%= c.name %></strong></td></tr>
  		      <% @category_totals[c.name].each do |sub_cat, total| %>
  		      	<tr><td>&nbsp;&nbsp;<%= sub_cat %></td><td class="money"><%= number_to_currency(total) %></td></tr>
  		      <% end %>
  		    <% end %>
  		  <% end %>
  		  <% if @unassigned_income_amount != 0 %>
  		  	<tr><td><strong>Un-Assigned</strong></td>
  		  	<td class="money"><%= number_to_currency(@unassigned_income_amount) %></td></tr>
  		  <% end %>
  		  <tr class="totals"><td><strong>Total</strong></td><td class="money"><%= number_to_currency(@income_total) %></td></tr>
  		</tbody>
	  </table>
    </div> <!-- income panel -->
  	
    </div>
    <div class="col-md-6">
	  <div class="panel panel-danger">
    	<div class="panel-heading">
  		  <h4>Expenses</h4>
  		</div>
  <!-- Table -->
		<table class="table">
  		  <% @expense_categories.each do |c| %>
  		    <% if @category_totals.has_key?(c.name) %>
  		      <tr><td colspan='2'><strong><%= c.name %></strong></td></tr>
  		      <% @category_totals[c.name].each do |sub_cat, total| %>
  		      	<tr><td>&nbsp;&nbsp;<%= sub_cat %></td><td class="money"><%= number_to_currency(total) %></td></tr>
  		      <% end %>
  		    <% end %>
  		  <% end %>
  		  <% if @unassigned_expense_amount != 0 %>
  		  	<tr><td><strong>Un-Assigned</strong></td>
  		  	<td class="money"><%= number_to_currency(@unassigned_expense_amount) %></td></tr>
  		  <% end %>
  		  <tr class="totals"><td><strong>Total</strong></td><td class="money"><%= number_to_currency(@expense_total) %></td></tr>
		</table>
  	  </div> <!-- expense panel -->
  
  </div>
</div>

