<h1>Income vs Expenses</h1>

<div class="panel panel-default panel-form">
  <div class="container">
	<%= form_tag("/report/income_vs_expense", method: :get) do %>
      <%= label_tag("from_date", "From: ") %>
	  <%= date_field_tag("from_date", @from_date) %>&nbsp;&nbsp;
      <%= label_tag("to_date", "To: ") %>
	  <%= date_field_tag("to_date", @to_date) %>
	&nbsp;&nbsp;
	  <button type="submit" class="btn btn-default">Refresh</button>
	<p>
    <% end %>
  </div>
</div>

<div class="row">

  <% @report_data.each do |category_type, report_data| %>
  <div class="col-md-6">

    <div class="panel panel-default">

      <div class="panel-heading">  	
  	    <h4><%= report_data.category_type_name %></h4>
      </div>
  <!-- Pie Chart -->
	    <div id="<%= report_data.category_type_name.downcase %>_chart" class="text-center"></div>
		<script>

		var data = <%= raw report_data.category_totals.values %>;
		var labels = <%= raw report_data.category_totals.keys %>;
		pie_chart(data, labels, "", "<%= number_to_currency(report_data.total) %>", "#<%= report_data.category_type_name.downcase %>_chart");

		</script>  

  <!-- Table -->
	  <table class="table">
  		<tbody>
  		  <% report_data.data.each do |c, subcat_data| %>
  		      <tr><td colspan="2"><strong><%= link_to(c.name, report_category_path(:category_id => c.id)) %></strong></td>
  		      <td class="money"><strong><%= number_to_currency(report_data.category_totals[c.name]) %></strong></td></tr>
  		      
  		      <% subcat_data.each do |sub_cat, total| %>
  		      	<% if sub_cat.nil? %>
  		      		<tr><td>&nbsp;&nbsp;<%= link_to("Un-assigned", report_subcategory_path(:category_id => c.id)) %></td><td class="money"><%= number_to_currency(total) %></td><td>&nbsp;</td></tr>
  		      	<% else %>
  		      		<tr><td>&nbsp;&nbsp;<%= link_to(sub_cat.name, report_subcategory_path(:subcategory_id => sub_cat.id)) %></td><td class="money"><%= number_to_currency(total) %></td><td>&nbsp;</td></tr>
  		      	<% end %> <!-- if -->
  		      <% end %> <!-- each -->
  		  <% end %> <!-- each -->
  		  <% if report_data.unassigned_total != 0 %>
  		  	<tr><td colspan="2"><strong><%= link_to("Un-assigned", report_category_path) %></strong></td><td class="money"><strong><%= number_to_currency(report_data.unassigned_total) %></strong></td></tr>
  		  <% end %>
  		  <tr class="totals"><td colspan="2"><strong>Total</strong></td><td class="money"><strong><%= number_to_currency(report_data.total) %></strong></td></tr>
  		</tbody>
	  </table>
    </div> <!-- income panel -->
  	
    </div><!-- col panel -->
  <% end %>
</div>

