<h1>Sub-category Report</h1>

<div class="panel panel-warning">
  <div class="panel-heading">
	<%= form_tag("/report/subcategory", method: :get) do %>
	  <%= label_tag("subcategory_id", "Sub-catgegory: ") %>
	  <%= grouped_collection_select(@subcategory, :id, Category.all.order(:name), :subcategories, :name, :id, :name, {:prompt => true, :selected => @subcategory.id.to_i}, {:id => "subcategory_id", :name => "subcategory_id"}) %>
	  &nbsp;&nbsp;
      <%= label_tag("from_date", "From: ") %>
	  <%= date_field_tag("from_date", @from_date) %>&nbsp;&nbsp;
      <%= label_tag("to_date", "To: ") %>
	  <%= date_field_tag("to_date", @to_date) %>
	
	  <button type="submit" class="btn btn-default pull-right">Refresh</button>

    <% end %>
  </div>

	<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Memo</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th class="money">Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.memo %></td>
        <td><%= transaction.category.nil? ? "" : transaction.category.name %></td>
        <td><%= transaction.subcategory.nil? ? "": transaction.subcategory.name %></td>
        <td class="money"><%= number_to_currency(transaction.amount) %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %> 
        <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      <tr class="totals"><td colspan='4'><strong>Total</strong></td><td class="money"><%= number_to_currency(@transaction_total) %></td></tr>

  </tbody>
</table>

</div>

