<h1>Sub-category Report</h1>

<%= form_tag("/report/subcategory", method: :get) do %>

  <div class="box search fill_normal">
	  <%= label_tag("category_id", "Category: ") %>
	  <%= grouped_collection_select(@category, @category_id, CategoryType.all, :categories, :name, :id, :name, {prompt: true, selected: @category_id}, {:id => "report_category_id", :name => "category_id"}) %>

	  <%= label_tag("subcategory_id", "Sub-catgegory: ") %>
	  <%= collection_select(@subcategory, @subcategory_id, @subcategories, :id, :name, {:selected => @subcategory_id, :include_blank => "Un-assigned"}, {:id => "report_subcategory_id", :name => "subcategory_id"}) %>
  </div>
  <%= render 'layouts/date_select' %>
<% end %>

<div class="panel panel-default">
	<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Memo</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th class="money">Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.memo %></td>
        <td><%= transaction.category.nil? ? "" : transaction.category.name %></td>
        <td><%= transaction.subcategory.nil? ? "": transaction.subcategory.name %></td>
        <td class="money"><%= number_to_currency(transaction.amount) %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %> 
        <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      <tr class="totals"><td colspan='4'><strong>Total</strong></td><td class="money"><%= number_to_currency(@transaction_total) %></td></tr>

  </tbody>
</table>

</div>

