<div class="panel panel-default">

  <div class="panel-heading">  	
  	<h4><%= yield(:title) %>
  		<% if yield(:title).include?("Edit") %>
  			<%= link_to 'Delete', @transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
  		<% end %>
  	</h4>
  </div>
  
<%= form_for(@transaction) do |f| %>
    <%= hidden_field_tag(:account_id, @transaction.account_id) %> 

    <div class="container">

  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_field :memo, size: "50" %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.collection_select(:account_id, @accounts, :id, :name, {:prompt => true, :selected => @transaction.account_id.to_i}) %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.grouped_collection_select(:category_id, CategoryType.all, :categories, :name, :id, :name, @category_options) %>
  </div>
  <div class="field">
    <%= f.label :subcategory_id %><br>
    <%= f.collection_select(:subcategory_id, @subcategories, :id, :name, @subcategory_options) %>
  </div>

    </div> <!-- end container -->

    <div class="panel-footer">
  	  <button type="submit" class="btn btn-default">Save</button>
  	  <%= link_to "Cancel", session[:last_transaction_page], class: "btn btn-default" %>
    </div>

  <% end %> <!-- end form -->

</div> <!-- end panel -->
