<h1>Transactions <%= link_to content_tag(:span, "New", class: "glyphicon glyphicon-plus"), new_transaction_path, class: "btn btn-default" %></h1>
<p id="notice"><%= notice %></p>

  <div class="panel panel-default">
  
    <div class="panel-heading">
	  <%= form_tag('/transactions', method: :get) do %>

        <h4 class="panel-title"><label for="account">Account: </label>
        <%= collection_select(@account, :id, @accounts, :id, :name, {:prompt => true, :selected => @account.id.to_i}, {:name => "account_id"}) %>

        <button type="submit" class="btn btn-default">Refresh</button></h4>
        
      <% end %>
    </div>
    
	<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Memo/Notes</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th class="money">Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	  <tr><td colspan="4" class="balance">Current Balance: <%= number_to_currency(@current_balance) %></td></tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.memo %><%= ' / ' if (!transaction.memo.nil? && !transaction.notes.nil?) %><%= transaction.notes %></td>
        <td><%= transaction.category.nil? ? "" : transaction.category.name %></td>
        <td><%= transaction.subcategory.nil? ? "": transaction.subcategory.name %></td>
        <td class="money"><%= number_to_currency(transaction.amount) %></td>
        <td class="links"><%= link_to content_tag(:span, "", class: "glyphicon glyphicon-edit"), edit_transaction_path(transaction) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div> <!-- end panel-->
