<h1>transactions <%= link_to content_tag(:span, "New", class: "glyphicon glyphicon-plus"), new_transaction_path, class: "btn btn-default" %>&nbsp;<%= link_to "Reconcile", new_reconciliation_path, class: "btn btn-default" %> </h1>
<p id="notice"><%= notice %></p>


<%= form_tag('/transactions', method: :get) do %>
  <div class="search box fill_normal">
    <%= label_tag("account", "account: ") %>
    <%= collection_select(@account, :id, @accounts, :id, :name, {:prompt => true, :selected => @account_id.to_i}, {:name => "account_id"}) %>
  </div>

  <%= render 'layouts/date_select' %>    
<% end %>
    
<div class="panel panel-default">
	<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Memo/Notes</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th></th>
      <th class="money">Amount</th>
      <th class="money">Balance</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	  <tr><td colspan="4" class="balance">Current Balance: <%= number_to_currency(@current_balance) %></td></tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.memo %><%= ' / ' if (!transaction.memo.nil? && !transaction.notes.nil?) %><%= transaction.notes %></td>
        <td><%= transaction.category.nil? ? "" : transaction.category.name %></td>
        <td><%= transaction.subcategory.nil? ? "": transaction.subcategory.name %></td>
        <td class="flags"><%= "R" if !transaction.reconciliation.nil? %></td>
        <td class="money"><%= number_to_currency(transaction.amount) %></td>
        <td class="money"><%= number_to_currency(transaction.balance) %></td>
        <td class="links"><%= link_to content_tag(:span, "", class: "glyphicon glyphicon-edit"), edit_transaction_path(transaction) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div> <!-- end panel-->
