<td class="date">{{dateFormatter date}}</td>
<td>{{descriptionFormatter memo notes}}{{categoryFormatter category subcategory}}</td>
<td>{{reconciledFormatter reconciliation_id}}</td>
<td class="money">{{moneyIn amount}}</td>
<td class="money">{{moneyOut amount}}</td>
<td class="money"></td>
<td></td>
