<td>{{dateFormatter date}}</td>
<td>{{descriptionFormatter memo notes}}{{categoryFormatter category_id subcategory_id}}</td>
<td>{{reconciliation_id}}</td>
<td class="money">{{moneyIn amount}}</td>
<td class="money">{{moneyOut amount}}</td>
<td class="money">{{accountingFormat balance}}</td>
<td>{{inlineEditButton}}</td>