<div class="form-horizontal">
  <div class="form-group">
    <label for="date" class="col-sm-2 col-md-2 control-label">Date</label>
    <div class="col-sm-10 col-md-2">
      {{datePickerInput transaction.date "date"}}
      <span class="help-block hidden"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="amount" class="col-sm-2 col-md-2 control-label">Amount</label>
    <div class="col-sm-10 col-md-3">
      <div class="input-group">
        {{moneyInput transaction.amount "amount"}}
      </div>
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="category_id" class="col-sm-2 col-md-2 control-label">Category</label>
    <div class="col-sm-10 col-md-3">
      <div class="input-group">
        {{selectGroupedInput categoryTypes 'category_type_id' categories transaction.category_id "category_id"}}
      </div>
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="subcategory_id" class="col-sm-2 col-md-2 control-label">Subcategory</label>
    <div class="col-sm-10 col-md-3">
      <div class="input-group">
        {{selectInput subcategories transaction.subcategory_id "subcategory_id"}}
      </div>
      <span class="help-block hidden"></span>
    </div>
  </div>
</div>

<div class="form-footer">
  {{saveButton}}
  {{cancelButton}}
</div>