<td class="date">{{dateFormatter transaction.date}}</td>
<td>{{descriptionFormatter transaction.memo transaction.notes}}{{categoryFormatter category subcategory}}</td>
<td>{{reconciledFormatter transaction.reconciliation_id}}</td>
<td class="money">{{moneyIn transaction.amount}}</td>
<td class="money">{{moneyOut transaction.amount}}</td>
<td class="money">{{accountingFormat transaction.balance}}</td>
<td class="centered edit">{{editIcon id=transaction.id}}</td>