<div class="search box fill_normal">

  <%= label_tag(:date_range_option_id, "Select Date Range:") %>
	<%= collection_select(:date_range_option, :id, @date_range_options, :id, :description, {:selected => @date_range_option.id.to_i}, {:name => "date_range_option_id"}) %>

  <span id='custom_dates' <%= "style=display:none" if @date_range_option.description != "Custom Dates" %> >
	  <%= label_tag("from_date", "From: ") %>
		<%= date_field_tag("from_date", @date_range.from_date) %>
	  <%= label_tag("to_date", "To: ") %>
		<%= date_field_tag("to_date", @date_range.to_date) %>
	</span>

	<button type="submit" class="btn btn-default">
	  <span class="glyphicon glyphicon-search"></span> Search
	</button>
</div>
