<footer class="footer">

  <div class="row">
    <div class="col-md-4">
      <h3>quick links</h3>
      <%= link_to "home", root_path %><br>
      <%= link_to "accounts", my_money_path %><br>
      <%= link_to "transactions", my_money_path %><br>
      <%= link_to "categories", categories_path %><br>
      <%= link_to "patterns", patterns_path %><br>
    </div>

    <div class="col-md-4">
      <h3>cool stuff</h3>
      <%= link_to "import OFX file", my_money_path %><br>
      <%= link_to "reports", report_index_path %><br>
    </div>
    <div class="col-md-4">
      <h3>find me</h3>
      <a href="http://www.github.com/melm73" target="_blank">melm73 @ GitHub </a><br>
    </div>

  </div>    

</footer>