<div class="panel panel-default">

  <div class="panel-heading">  	
  	<h4><%= yield(:title) %>
  		<% if yield(:title).include?("Edit") && @account.transactions.length == 0 %>
  			<%= link_to 'Delete', @account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
  		<% end %>
  	</h4>
  </div>

  <%= form_for(@account) do |f| %>
  
    <div class="container">
      <% if @account.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

          <ul>
            <% @account.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :bank %><br>
        <%= f.text_field :bank %>
      </div>
      <div class="field">
        <%= f.label :starting_balance %><br>
        <%= f.text_field :starting_balance %>
      </div>
      <div class="field">
        <%= f.label :starting_date %><br>
        <%= f.date_select :starting_date %>
      </div>

    </div> <!-- end container -->

    <div class="panel-footer">
  	  <button type="submit" class="btn btn-default">Save</button>
  	  <%= link_to "Cancel", accounts_path, class: "btn btn-default" %>
    </div>

  <% end %> <!-- end form -->

</div> <!-- end panel -->
